*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}
a{text-decoration: none;}
.mobile{display: none;}
.clear{clear: both;}
ul>li>a.selected{color: red}
.w33{width: 33%;}

				/*header*/

#header-principal{
	padding: 10px 0;
}
#header-principal > .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img{
	width: 160px;
}
.navegacao li{
	display: inline-block;
	padding: 0 20px;
	font-size: 20px;
	font-style: italic;
}
.navegacao li > a{
	color: black;
}
.mobile i{
	font-size: 30px;
	color: red;
}
.mobile ul{
	background-color: #ddd;
	position: absolute;
	width: 100%;
	top: 80px;
	left: 0;
	text-align: center;
}
.mobile li{
	display: block;
	border: 1px solid white;
	padding: 2px;
}
.mobile li a{
	padding: 0 30%;
}
.mobile ul{display: none;}
				/*Banner*/

section.banner{
	width: 100%;
	height: 650px;
	background-color: black;
	background-image: url('../images/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.text-banner{
	padding: 60px;
}
.single-banner{
	width: 250px;
	height: 60px;
	background-image: url('../images/box-text.png');
	background-size: 100% 100%;
	color:white;
	font-size: 23px;
	padding: 0 25px;
	line-height: 60px;
	margin: 15px 0;
	text-transform: uppercase;
	text-align: center;
	font-style: italic;
}
.text-banner .single-banner:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
}
.text-banner .single-banner:nth-of-type(3){
	width: 150px;
	position: relative;
	left: -20px;
}
.text-banner .single-banner:nth-of-type(4){
	width: 300px;
	position: relative;
	left: -30px;
	background-image: url('../images/box-white-text.png');
	color: black;
}

				/*Destaque*/

section.destaque-veiculos{
	padding: 30px 0;
}
.line-titulo{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.line-titulo > .divisoria{
	width: 25%;
	background-color: red;
	height: 1px;
	align-self: flex-end;
}
.destaque-veiculos > .line-titulo > h2{
	text-align: center;
	font-size: 25px;
	font-style: italic;
	text-transform: uppercase;
	padding: 0 10px;
}
.destaque-veiculos > .container{
	max-width: 900px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 30px 0;
}
.vitrine-single > div.img-vitrine{
	background-image: url('../images/carro1.jpg');
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	border: 5px solid white;
}
.vitrine-single h2{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
}
.vitrine-single p{
	font-style: italic;
	font-weight: lighter;
	font-size: 15px;
	margin-bottom: 15px;
}
.vitrine-single a{
	color: white;
	font-size: 16px;
	font-style: italic;
	cursor: pointer;
	padding: 5px 10%;
	background-color: #EB2D2D;
	border-bottom: 3px solid #B21E1E;
}
				/*sobre*/
				/*contato*/
				/*footer*/
				/*responsivo*/

@media screen and (max-width: 1400px){
	section.banner{
		background-size: 90% auto;
		background-position: 200% 100%;
	} /*banner*/

} /*1400px*/

@media screen and (max-width: 768px){
	section.banner{
		background-size: cover;
		background-position: center;
		height: 60vw;
		min-height: 500px;
	} /*banner*/
} /*768px*/

@media screen and (max-width: 500px){
	.w33{width: 100%;}
	.vitrine-single{
		margin: 0 4% 20px 4%;
	}
} /*500px*/

@media screen and (max-width: 425px){
	.desktop{display: none;}
	.mobile{display: block;}
	.text-banner{
		padding: 20px;
		text-align: center;
	}
	.single-banner{
		font-size: 18px;
	}
	.text-banner .single-banner:nth-of-type(2){
		width: 200px;
		position: static;
	}
	.text-banner .single-banner:nth-of-type(3){
		width: 150px;
		position: static;
	}
	.text-banner .single-banner:nth-of-type(4){
		width: 100%;
		position: static;
	}
	.line-titulo > .divisoria{
		display: none;
	}
} /*425px*/